.Home {
  width: 100%;
  max-width: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: 32.2% 32.2% 32.2%;
  column-gap: 1.4%;
  row-gap: 15px;
  max-width: 80%;
  width: 800px;
  margin: 80px auto 90px auto;
}

@media only screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: 48% 48%;
    column-gap: 3%;
    max-width: 90%;
  }
}

.new-product {
  position: fixed;
  right: 20px;
  bottom: 90px;
  height: 64px;
  width: 64px;
  background: #001529;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  color: white !important;
  text-align: center;
  font-size: 30pt;
}

.new-product:hover {
  color: white;
}
