.Home {
  width: 100%;
  max-width: 100%;
}

.products-container {
  display: grid;
  grid-template-columns: 32.2% 32.2% 32.2%;
  column-gap: 1.4%;
  row-gap: 15px;
  max-width: 80%;
  width: 800px;
  margin: 80px auto 90px auto;
}

@media only screen and (max-width: 600px) {
  .products-container {
    grid-template-columns: 48% 48%;
    column-gap: 3%;
    max-width: 90%;
  }
}

.new-product {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: fixed;
  z-index: 100;
  bottom: 90px;
  right: 72px;
  background-color: #439337;
  font-weight: 700;
  font-size: 50pt;
  text-align: center;
  color: white;
  padding-top: 0;
  line-height: 0.8;
}

.new-product:hover {
  color: white;
}
