.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  border-radius: 4px;
  width: 500px;
  height: 200px;
  max-width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 1rem;
}

.modal-header {
  font-weight: 600;
  font-size: 12pt;
  padding: 10px 2rem;
  color: white;
}

.cancel-confirm-container {
  width: calc(18rem + 20px);
  margin: 0 auto;
}

.confirm-button {
  max-width: 9rem;
  width: 9rem;
  height: 45px;
  margin-left: 20px;
  color: white;
  background-color: #45991e;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0.1px 2.4px -8px rgba(0, 0, 0, 0.215),
    0 7px 19px -8px rgba(0, 0, 0, 0.43);
  font-size: 11pt;
  cursor: pointer;
  border: 0;
}

.cancel-button {
  max-width: 9rem;
  width: 9rem;
  height: 45px;
  color: white;
  background-color: #b54141;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0.1px 2.4px -8px rgba(0, 0, 0, 0.215),
    0 7px 19px -8px rgba(0, 0, 0, 0.43);
  font-size: 11pt;
  cursor: pointer;
  border: 0;
}

.message {
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  font-size: 14pt;
  height: 60px;
  padding: 15px;
}

.error {
  background-color: #b54141;
}
.confirm {
  background-color: #45991e;
}
