.User {
  width: 100%;
  max-width: 100%;
}

.info {
  max-width: 80%;
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0.1px 2.4px -8px rgba(0, 0, 0, 0.215),
    0 7px 19px -8px rgba(0, 0, 0, 0.43);
  margin: 40px auto 40px auto;
  font-size: 16pt;
  text-align: left;
  padding: 30px 10px;
  background-color: white;
  border-radius: 4px;
  border: #6b8caa 1px solid;
}

.img {
  width: 800px;
  max-width: 80%;
  color: black;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}

.logout-link {
  display: inherit;
  margin: 20px auto;
  width: 52px;
}

.logout-icon {
  color: #b54141;
}

@media only screen and (max-width: 600px) {
  .info {
    max-width: 100%;
    width: 100%;
  }
}
