.User {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.info {
  max-width: 80%;
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0.1px 2.4px -8px rgba(0, 0, 0, 0.215),
    0 7px 19px -8px rgba(0, 0, 0, 0.43);
  margin: 30px auto;
  font-size: 16pt;
  text-align: left;
  padding: 10px;
  background-color: white;
  color: #702727;
  border-radius: 4px;
}

.info-name {
  font-weight: bold;
  display: block;
  color: black;
}

.info-description {
  color: black;
}

.img {
  width: 800px;
  max-width: 80%;
  color: black;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

.logout-icon-color {
  color: #b54141;
}

.logout-button {
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  background-color: transparent;
  border: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .info {
    max-width: 90%;
  }
}
